<%= stylesheet_link_tag "login.css" %>
<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                    <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                    </div>
                </div>

                <div class="form-group">
                    <% if devise_mapping.rememberable? %>
                        <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    <% end %>
                </div>

                <div class="actions">
                    <%= f.submit "Log in" %>
                </div>
                <%= render "devise/shared/links" %>
            <% end %>
        </div>
    </div>
</div>



  

  

  





