<%= stylesheet_link_tag "sign_up.css" %>
<div class="col-md-4 col-md-offset-4" id="login">
    <section id="inner-wrapper" class="login">
        <article>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form-group">
                    <div class="input-group">
                       <!--  <span class="input-group-addon"><i class="fa fa-user"> </i></span>
                        <input type="text" class="form-control" placeholder="Name"> -->
                        <div class="field">
                            <%= f.label :name %><br />
                            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "Name" %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <!-- <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                        <input type="email" class="form-control" placeholder="Email Address"> -->
                        <div class="field">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Name" %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <!-- <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                        <input type="password" class="form-control" placeholder="Password"> -->
                        <div class="field">
                            <%= f.label :password %>
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %><br />
                            <%= f.password_field :password, autocomplete: "new-password" %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <!-- <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                        <input type="password" class="form-control" placeholder="Confirm Password"> -->
                        <div class="field">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div>
                    </div>
                </div>
                 <!--  <button type="submit" class="btn btn-success btn-block">Submit</button> -->
                 <div class="actions">
                    <%= f.submit "Sign up", class: "btn btn-success btn-block" %>
                </div>
                <%= render "devise/shared/links" %>
            <% end %>
        </article>
    </section>
</div>