@import "bootstrap";

body {
	background:#333;
}
#login {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	margin-top:50px;
	margin-left:30%;
}
.login {
	font-family: 'Josefin Sans', sans-serif;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	/*-webkit-transform: rotateY(40deg);
	-moz-transform: rotateY(40deg);
	transform: rotateY(40deg);*/
}
/*.login:hover {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
}*/
.login article {
	
}
.login .form-group {
	margin-bottom:17px;
}
.login .form-control,
.login .btn {
	border-radius:0;
}
.login .btn {
	text-transform:uppercase;
	letter-spacing:3px;
}
.input-group-addon {
	border-radius:0;
	color:#fff;
	background:#f3aa0c;
	border:#f3aa0c;
}
.forgot {
	font-size:16px;
}
.forgot a {
	color:#333;
}
.forgot a:hover {
	color:#5cb85c;
}
#inner-wrapper, #contact-us .contact-form, #contact-us .our-address {
	color: #1d1d1d;
	font-size: 19px;
	line-height: 1.7em;
	font-weight: 300;
	padding: 50px;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 100px;
}
.input-group-addon {
	border-radius: 0;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #fff;
	background: #f3aa0c;
	border: #f3aa0c;
	border-right-color: rgb(243, 170, 12);
	border-right-style: none;
	border-right-width: medium;
}